<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- 添加过滤器 -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.xtwy.filter.AppServletContainer</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/rest/userController/*</url-pattern>
	</filter-mapping>
	<!-- Jersey -->
	<servlet>
		<servlet-name>JerseyWebApplication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- 初始化参数 -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.xtwy.common.RestApplication</param-value>
		</init-param>
		<!-- json数据 -->
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 加载顺序 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 映射路径 -->
	<servlet-mapping>
		<servlet-name>JerseyWebApplication</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>